body{
	margin: 0;
	padding: 0;

	font-size: 16px;
	font-family: 'Roboto', sans-serif;

	box-sizing: border-box;
}

h1,h2,p{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}



/*Settings navigation*/

.header__nav__center{
	background-color: #4d98a4;

	height: 88px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__nav{
	max-width: 1024px;
	width: 960px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin: 0 auto;

	opacity: 0.8;
}

/*Settings navigation logo*/

.header__nav__logo__link{
	font-family: 'Cherry Swash', cursive;
	text-transform: capitalize;
	font-size: 2.5em;

 	margin-left: 55px;

	color: #fff;
}


/*Settings navigation links*/
.header__nav__links{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	font-size: 1.125em;
}

.header__nav__links a{
	text-transform: uppercase;
	color: #fff;
}

.header__nav__links div:not(:last-child){
	margin-right: 46px;
}


/*Settings section WNTTOW*/

.header__wnttow{
 	background: url(img/bck1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.header__wnttow__center{
	max-width: 1024px;
	height: 477px;

	margin: 0 auto;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header__wnttow__center h1{
	font-size: 2.75em;
	text-transform: uppercase;
	color: #fff;

	width: 520px;
	text-align: center;

	margin-bottom: 45px;
}


.header__wnttow__rm{
	margin: 0;
	padding: 11px 48px;

	border: 1px solid #e4e4e4;
	border-radius: 10px;
	outline: none;

	background-color: transparent;

	cursor: pointer;

	font-size: 1.875em;
	color: #e4e4e4;


}

/*Section atsttwaetelat*/

/*Settings atsttwaetelat*/
.explore__center{
	height: 444px;
	max-width: 1024px;

	margin: 0 auto;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}



/*h2 settings*/
.explore__center__atsttwaetelat{
	color: #4c505d;
	font-weight: 300;
	font-size: 1.73em;
	text-align: center;
}


/*undertext settings*/
.explore__center__undertext{
	font-size: 0.875em;
	color: #4c505d;
	text-align: center;
	linfe-height: 1.5;
}

/*settings for imgages*/
.explore__center__images img{
	display: block;
}

.explore__center__images{
	width: 415px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}


/*Section quote*/
/*Settings quote*/


.quote{
	background-color: #00d089;
}

.quote__center{
	height: 466px;
	width: 1024px;

	margin: 0 auto;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}


/*Setting first block*/
.quote__center__firstbox{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.quote__center__firstbox__naq__n{
	text-transform: uppercase;
	font-size: 1.625em;
	font-family: sans-serif;
	font-weight: bold;
	color: #fff;
}

.quote__center__firstbox__naq__q{
	font-family: sans-serif;
	font-size: 20em;
	font-weight: bold;
	color: #33d9a1;

	height: 100px;

	line-height: 0.8;
}

/*Setting second block*/

.quote__center__secondbox{
	width: 900px;

	text-align: start;
	font-size: 1.125em;

	color: #fff;

	line-height: 1.5;
}


/*Section map*/
/*Settings map*/

.map{
	background-image: url(img/map1.png);
	background-size: 100%;
	background-position:center;
}

.map__center{
	height: 515px;
	width: 1024px;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0 auto;

	border-radius: 30px;
}

.map__center__circle__form{
	width: 430px;
	height: 430px;
	background-color: #fff;

	border-radius: 50%;

	opacity: 0.8;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.map__center__circle__form input{
	height: 30px;
	width: 275px;

	border: 1px solid #d8d8d8;
}

#message{
	height: 80px;
}

.map__center__circle__form input:not(:last-child){
	margin-bottom: 10px;
}


/*Settings footer*/

.footer{
	height: 40px;

	background-color: #00d089;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer__copy{
	font-size: 0.85em;

	color: #fff;
}

